body {
	margin: 0; padding: 0;background-color:#32CD32;
}

header {
	text-align: center;
	width:100%; background-color:#FFFF00; height:auto;
}

header div span {
	font-size: 3em;
}

.container {
	width: 100%; margin:0 auto;
}



.flexContainer {
	display: flex;
    flex-direction: column;
}



h2 {
	text-align: center;
}
form {
	text-align: center
}

